In [1]:
import pandas as pd
import numpy as np

In [4]:
# production in construction, yearly
eu = pd.read_table('data/sts_copr_a.tsv.gz', compression='gzip')
eu

,"indic_bt,nace_r2,s_adj,unit,geo\time",2022,2021,2020,2019,2018,2017,2016,2015,2014,...,1989,1988,1987,1986,1985,1984,1983,1982,1981,1980
0,"PROD,B-D_F,CA,I15,AT",128.4,120.7,109.3,115.7,114.2,108.4,102.2,100.0,98.7,...,:,:,:,:,:,:,:,:,:,:
1,"PROD,B-D_F,CA,I15,BE",121.0 s,121.4 s,106.2 s,111.4 s,107.4 s,106.1 s,103.7 s,100.0 s,101.5 s,...,:,:,:,:,:,:,:,:,:,:
2,"PROD,B-D_F,CA,I15,BG",119.5 s,107.5 s,98.6 s,105.1 s,104.0 s,103.5 s,99.3 s,100.0 s,96.1 s,...,:,:,:,:,:,:,:,:,:,:
3,"PROD,B-D_F,CA,I15,CH",124.6,119.2,110.5,114.2,110.4,105.3,100.1,100.0,102.1,...,:,:,:,:,:,:,:,:,:,:
4,"PROD,B-D_F,CA,I15,CY",148.6 s,150.5 s,142.3 s,153.1 s,142.9 s,128.9 s,112.5 s,100.0 s,96.7 s,...,:,:,:,:,:,:,:,:,:,:
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
603,"PROD,F_CC2,NSA,I15,SE",145.7 p,136.6,149.4,149.3,131.1,110.5,106.5,100.0,89.0,...,:,:,:,:,:,:,:,:,:,:
604,"PROD,F_CC2,NSA,I15,SI",126.7 p,111.7,105.5,102.7,98.4,83.6,73.3,100.0,109.6,...,:,:,:,:,:,:,:,:,:,:
605,"PROD,F_CC2,NSA,I15,SK",67.6,67.7,74.8,83.1,96.2,81.0,74.9,100.0,65.1,...,:,:,:,:,:,:,:,:,:,:
606,"PROD,F_CC2,NSA,I15,TR",:,:,:,:,:,:,107.0,100.0,92.6,...,:,:,:,:,:,:,:,:,:,:
607,"PROD,F_CC2,NSA,I15,UK",:,:,:,118.4 p,114.9 p,111.0 p,98.8 p,100.0 p,83.9 p,...,:,:,:,:,:,:,:,:,:,:

In [5]:
prod = pd.read_table('data/teiis500.tsv.gz', compression='gzip')
prod

,"indic_bt,nace_r2,unit,geo\time",2022M04,2022M05,2022M06,2022M07,2022M08,2022M09,2022M10,2022M11,2022M12,2023M01,2023M02,2023M03
0,"PROD,F,I2015_SCA,AT",133.9,133.4,130.4,128.8,130.2,129.3,130.2,132.8,128.8,133.7,151.5 p,:
1,"PROD,F,I2015_SCA,BE",98.8,99.4,98.7,100.5,99.2,98.2,98.4,100.0,99.5,98.1,101.0,:
2,"PROD,F,I2015_SCA,BG",89.9,91.8,90.4,89.9,90.2,90.0,90.6,90.9,89.4,89.8,89.2 p,:
3,"PROD,F,I2015_SCA,CZ",112.5,109.8,109.4,105.9,107.5,105.7,108.6,108.6,108.4,113.9,109.7,:
4,"PROD,F,I2015_SCA,DE",112.7,113.8,113.1,112.1,110.7,110.8,113.3,111.3,102.9,116.9,118.6,:
...,...,...,...,...,...,...,...,...,...,...,...,...,...
70,"PROD,F,PCH_M1_SCA,PT",-0.8,0.0,-0.8,1.4,2.1,-2.8,-0.6,-0.2,-0.8,5.3,-0.5,:
71,"PROD,F,PCH_M1_SCA,RO",-2.3,5.6,-0.1,0.4,2.0,3.9,5.3,-1.7,-0.3 p,-3.4 p,3.1 p,:
72,"PROD,F,PCH_M1_SCA,SE",-1.3 p,1.8 p,-1.1 p,-0.6 p,-0.2 p,2.1 p,-0.6 p,-0.3 p,0.7 p,0.6 p,-1.6 p,:
73,"PROD,F,PCH_M1_SCA,SI",-4.6,4.7,2.0,-4.4,0.6,-0.5 p,10.2 p,-4.0 p,7.9 p,9.1 p,1.0 p,:
74,"PROD,F,PCH_M1_SCA,SK",-3.8,0.5,-3.1,1.7,-0.5,0.5,0.8,-1.3,8.4,3.3,-0.8,:

In [3]:
# production in construction, yearly
euFilt = pd.read_csv('data/estat_sts_copr_a_filtered_en.csv.gz', compression='gzip')
euFilt

,STRUCTURE,STRUCTURE_ID,freq,indic_bt,nace_r2,s_adj,unit,geo,TIME_PERIOD,OBS_VALUE,OBS_FLAG
0,dataflow,ESTAT:STS_COPR_A(1.0),A,PROD,B-D_F,CA,I15,AT,1996,54.2,NaN
1,dataflow,ESTAT:STS_COPR_A(1.0),A,PROD,B-D_F,CA,I15,AT,1997,58.1,NaN
2,dataflow,ESTAT:STS_COPR_A(1.0),A,PROD,B-D_F,CA,I15,AT,1998,63.7,NaN
3,dataflow,ESTAT:STS_COPR_A(1.0),A,PROD,B-D_F,CA,I15,AT,1999,66.9,NaN
4,dataflow,ESTAT:STS_COPR_A(1.0),A,PROD,B-D_F,CA,I15,AT,2000,71.7,NaN
...,...,...,...,...,...,...,...,...,...,...,...
12557,dataflow,ESTAT:STS_COPR_A(1.0),A,PROD,F_CC2,NSA,I15,UK,2015,100.0,p
12558,dataflow,ESTAT:STS_COPR_A(1.0),A,PROD,F_CC2,NSA,I15,UK,2016,98.8,p
12559,dataflow,ESTAT:STS_COPR_A(1.0),A,PROD,F_CC2,NSA,I15,UK,2017,111.0,p
12560,dataflow,ESTAT:STS_COPR_A(1.0),A,PROD,F_CC2,NSA,I15,UK,2018,114.9,p
12561,dataflow,ESTAT:STS_COPR_A(1.0),A,PROD,F_CC2,NSA,I15,UK,2019,118.4,p

In [4]:
euFilt.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12562 entries, 0 to 12561
Data columns (total 11 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   STRUCTURE     12562 non-null  object
 1   STRUCTURE_ID  12562 non-null  object
 2   freq          12562 non-null  object
 3   indic_bt      12562 non-null  object
 4   nace_r2       12562 non-null  object
 5   s_adj         12562 non-null  object
 6   unit          12562 non-null  object
 7   geo           12562 non-null  object
 8   TIME_PERIOD   12562 non-null  int64
 9   OBS_VALUE     12132 non-null  float64
 10  OBS_FLAG      3162 non-null   object
dtypes: float64(1), int64(1), object(9)
memory usage: 1.1+ MB

In [5]:
euFilt['unit'].value_counts()

I15       6014
I10       3634
PCH_SM    2914
Name: unit, dtype: int64

In [9]:
# remove
euFilt['STRUCTURE'].value_counts()

dataflow    12562
Name: STRUCTURE, dtype: int64

In [8]:
euFilt['STRUCTURE_ID'].value_counts()

ESTAT:STS_COPR_A(1.0)    12562
Name: STRUCTURE_ID, dtype: int64

In [7]:
euFilt['freq'].value_counts()

A    12562
Name: freq, dtype: int64

In [10]:
euFilt['indic_bt'].value_counts()

PROD    12562
Name: indic_bt, dtype: int64

In [11]:
euFilt['nace_r2'].value_counts()

F        3833
F_CC2    3319
F_CC1    3316
B-D_F    2094
Name: nace_r2, dtype: int64

In [12]:
euFilt['TIME_PERIOD'].value_counts()

2009    572
2008    572
2015    572
2014    572
2013    572
2012    572
2011    572
2010    572
2007    569
2016    566
2006    559
2005    554
2017    546
2004    528
2003    526
2002    526
2001    524
2000    439
2018    371
2019    371
2020    359
2021    347
2022    344
1999    170
1998    150
1997    127
1996    120
1995     86
1994     52
1992     40
1993     40
1991     36
1990     17
1981      2
1982      2
1983      2
1984      2
1985      2
1986      2
1987      2
1988      2
1989      2
1980      1
Name: TIME_PERIOD, dtype: int64

In [13]:
euFilt['OBS_FLAG'].value_counts()

s    1680
p     588
e     464
c     430
Name: OBS_FLAG, dtype: int64

In [18]:
# all flags c -confidential- have NaNs
euFilt.query('OBS_FLAG == "c"')['OBS_VALUE'].unique()

array([nan])

In [20]:
# no flag :
euFilt.query('OBS_FLAG == ":"')

Empty DataFrame
Columns: [STRUCTURE, STRUCTURE_ID, freq, indic_bt, nace_r2, s_adj, unit, geo, TIME_PERIOD, OBS_VALUE, OBS_FLAG]
Index: []

In [18]:
# all flags c -confidential- have NaNs
euFilt.query('OBS_FLAG == "c"')['OBS_VALUE'].unique()

array([nan])

In [22]:
# No NaNs anymore
euFilt.query('OBS_FLAG != "c"').isnull().sum()

STRUCTURE          0
STRUCTURE_ID       0
freq               0
indic_bt           0
nace_r2            0
s_adj              0
unit               0
geo                0
TIME_PERIOD        0
OBS_VALUE          0
OBS_FLAG        9400
dtype: int64

In [ ]:
0/0

In [7]:
!pip install python-dotenv

Collecting python-dotenv
  Downloading python_dotenv-1.0.0-py3-none-any.whl (19 kB)
Installing collected packages: python-dotenv
Successfully installed python-dotenv-1.0.0

In [99]:
from dotenv import dotenv_values
import requests
import json

# loading API keys
config = dotenv_values(".env")

bearer_token = config["BEARER_TOKEN"]

search_url = "https://api.twitter.com/2/tweets/search/recent"

# Optional params: start_time,end_time,since_id,until_id,max_results,next_token,
# expansions,tweet.fields,media.fields,poll.fields,place.fields,user.fields
# query_params = {'query': '(from:twitterdev -is:retweet) OR #twitterdev','tweet.fields': 'author_id', "max_results":"10"}
query_params = {
    'query' : '"Higgs Boson" -is:retweet', # -is:retweet -> avoids retweets
    #"max_results":"100", # number of results we'll get
    "start_time": "2023-04-24T23:59:00Z",
    "end_time": "2023-05-01T22:59:00Z"
    
}

# Token authentication method
def bearer_oauth(r):
    r.headers["Authorization"] = f"Bearer {bearer_token}"
    r.headers["User-Agent"] = "v2RecentSearchPython"
    return r

# Setting the query
def connect_to_endpoint(url, params):
    response = requests.get(url, auth=bearer_oauth, params=params) # how we set the request itself with .get
    
    return response.json()

# Querying the API
json_response = connect_to_endpoint(search_url, query_params)

# Parsing the response
parsedRes = json.dumps(json_response, indent=4, sort_keys=True, ensure_ascii=True) # indent 4 to look nice indent. ascii to get emoties etc.
print(parsedRes)
# Saving the variable holding tweets to a text file
file = open("tweets.json", "w")
file.write(parsedRes)
file.close
# Appending the other variables to the same text file
file = open("tweets.json", "a")
file.write('\n'+parsedRes)
file.close

{
    "detail": "One or more parameters to your request was invalid.",
    "errors": [
        {
            "message": "Invalid 'end_time':'2023-05-01T22:59Z'. 'end_time' must be a minimum of 10 seconds prior to the request time.",
            "parameters": {
                "end_time": [
                    "2023-05-01T22:59Z"
                ]
            }
        }
    ],
    "title": "Invalid Request",
    "type": "https://api.twitter.com/2/problems/invalid-request"
}

In [94]:
#!pip install tweepy
import tweepy

paginator = tweepy.Paginator(
    json_response,                         # The method you want to use    
    exclude=['retweets', 'replies'],       # Some argument for this method
    start_time="1998-12-01T00:00:00Z",     # Some argument for this method
    #max_results=100                        # How many tweets asked per request
)

for tweet in paginator.flatten(limit=250): # Total number of tweets to retrieve
    print(tweet)

with open(r'tweets.txt', 'r') as fp:
    
    # read all lines using readline()
    lines = fp.readlines()
    
    for row in lines:
        # check if string present on a current line
        if row.find('text') != -1:  # find() method returns -1 if the value is not found
            file1 = open("tweetsText.csv", "a")  # append mode
            file1.write(row.lstrip().replace('"text": "', ''))
            file1.close()

AttributeError: 'dict' object has no attribute '__name__'